@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.load-spinner {
  border: 4px solid lightslategray;
  border-inline: 4px solid black;
  animation-name: spinning;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
